.DS_Store
.idea/
acmeout/
logs/**/*.log
nginx/sites-enabled/*.conf
nginx/auth.d/*.htpasswd
nginx/auth.d/*.pem
nginx/auth.d/*.key
*.env
borgmatic/.config/borg/security
mbslave.conf
.htpasswd
authelia.yml
