# ---------------------------------------------------------------------------------------------------------------------
# General
# ---------------------------------------------------------------------------------------------------------------------

# Rails
RAILS_ENV=production
RAILS_LOG_TO_STDOUT=1
RAILS_SERVE_STATIC_FILES=1

# Generate a secret using `rails secret`
SECRET_KEY_BASE=mysecretkeybase

# Database credentials
#PG_HOST=postgres
#PG_USER=postgres
#PG_PASSWORD=postgres
#PG_DATABASE=headbanger_production

# Reset database interval (in minutes)
# RESET_INTERVAL=15
