##
# Providers
#
hcloud_token = ""
gandi_key = ""

##
# Domains
#
domain_contact = {
  country = ""
  email = ""
  family_name = ""
  given_name = ""
  phone = ""
  street_addr = ""
  city = ""
  zip = ""
}

domain_context_extra = {}
dkim = {}
gsf = {}

# Additional domains
additional_domains = {}

##
# Services
#
# Generate password hash with "echo password | openssl passwd -6 -stdin"
#
# plaintext passwd:
passwd = ""
