##
# Providers
#
hcloud_token = ""
gandi_key = ""

##
# Domains
#
domain_contact = {
  country = ""
  email = ""
  family_name = ""
  given_name = ""
  phone = ""
  street_addr = ""
  city = ""
  zip = ""
}
domain_context_extra = {}
dkim = {}
gsf = {}

##
# Services
#
# Generate password hash with "echo password | openssl passwd -6 -stdin"
#
# plaintext passwd:
passwd = ""
ssh_public_key = ""
ssh_private_key = ""
sshd_public_key = ""
sshd_private_key = ""
