PROVIDERS_GOOGLE_CLIENT_ID=
PROVIDERS_GOOGLE_CLIENT_SECRET=
SECRET=
# Comment out AUTH_HOST if you'd rather use individual redirect_uris (slightly less complicated but more work)
AUTH_HOST=
COOKIE_DOMAIN=
WHITELIST=
