# User and group
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Berlin

# Server host and port
# SERVERURL=wireguard.domain.com
# SERVERPORT=51820

# Number of client certificates generated
# PEERS=1
# PEERDNS=auto
# INTERNAL_SUBNET=10.13.13.0
# ALLOWEDIPS=0.0.0.0/0
