# Server host and port
WG_HOST=
WG_PORT=51820

# Admin password
PASSWORD=

# Client IP address range
WG_DEFAULT_ADDRESS=10.8.0.x

# Client DNS server
WG_DEFAULT_DNS="8.8.8.8, 8.8.4.4"

# Allowed IPs
WG_ALLOWED_IPS="0.0.0.0/0, ::/0"
