##
# Providers
#
hcloud_token = ""
scaleway_access_key = ""
scaleway_secret_key = ""
scaleway_organization_id = ""
gandi_key = ""

##
# Domains
#
domain_contact = {
  country = ""
  email = ""
  family_name = ""
  given_name = ""
  phone = ""
  street_addr = ""
  city = ""
  zip = ""
}
domain_context_extra = {}
dkim = {}

##
# Services
#
# plaintext passwd:
passwd = ""
ssh_public_key = ""
ssh_private_key = ""
sshd_public_key = ""
sshd_private_key = ""
storage_box_url = ""
